@import url('font-awesome.css');
/* === custom icon === */

@import url('custom-fonts.css');

/*===================================
General
===================================*/
body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6em;
  color: #656565;
}

a:active {
  outline: 0;
}

.clear {
  clear: both;
}

.row, .row-fluid {
  padding-bottom: 30px;
}

.row .row, .row-fluid .row-fluid {
  padding-bottom: 30px;
}

nav {
    font-family: monospace;
}

@media (min-width: 768px)
nav {
    padding-left: 1.5rem!important;
}
@media (min-width: 768px)
nav {
    padding-right: 1.5rem!important;
}
@media (min-width: 768px)
nav {
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

@media (min-width: 768px)
nav .navbar-collapse {
    margin-right: 1rem!important;
}
@media (min-width: 768px)
nav .navbar-collapse {
    margin-bottom: 0!important;
}
@media (min-width: 768px)
nav .navbar-collapse {
    margin-top: 0!important;
}

 nav .navbar-collapse .navbar-nav{
 	float: right; 
 }
 

nav .navbar-collapse .navbar-nav a {
    color: #343a40;
} 

/* ===================================
Inner - Section: page headline
==================================== */

.inner-headline {
  background: #252525;
  position: relative;
  margin: 0;
  padding: 0;
  color: #fefefe;
}

.inner-headline .inner-heading h2 {
  color: #fff;
  margin: 20px 0 0 0;
}

/* --- breadcrumbs --- */

.breadcrumb {
  float:left;
  padding:10px 0 10px 0;
  margin:0;
  list-style: none;
  background: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.breadcrumb > li {
  display: inline-block;
  *display: inline;
  text-shadow: none;
  font-size:12px;
  *zoom: 1;
  margin:0;
}

.breadcrumb > .active {
  color: #797979;
}

.inner-headline ul.breadcrumb {
  margin: 30px 0 0;
  float: right;
}

.inner-headline ul.breadcrumb li {
  margin-bottom: 0;
  padding-bottom: 0;
}

.inner-headline ul.breadcrumb li {
  font-size: 13px;
  color: #ddd;
}

.inner-headline ul.breadcrumb li i {
  color: #dedede;
}

.inner-headline ul.breadcrumb li a {
  color: #fff;
}

ul.breadcrumb li a:hover {
  text-decoration: none;
}

.inner-headline ul.breadcrumb li [class^="fa"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

/* ===================================
Content Page
==================================== */
.content-nomargin {
    position: relative;
    margin: 0;
    padding: 0;
}

.content-nomargin .content{
	padding-top: 50px;
    padding-left: 220px;
    padding-right: 10px;
    overflow: hidden;
}

.content-nomargin .row:last-child{
    padding-right: 0px !important;
    margin-right: 0px !important;
}

.content-nomargin .col-1, 
.content-nomargin .col-2, 
.content-nomargin .col-3, 
.content-nomargin .col-4, 
.content-nomargin .col-5, 
.content-nomargin .col-6, 
.content-nomargin .col-7, 
.content-nomargin .col-8, 
.content-nomargin .col-9, 
.content-nomargin .col-10, 
.content-nomargin .col-11, 
.content-nomargin .col-12, 
.content-nomargin .col, 
.content-nomargin .col-auto, 
.content-nomargin .col-sm-1, 
.content-nomargin .col-sm-2, 
.content-nomargin .col-sm-3, 
.content-nomargin .col-sm-4, 
.content-nomargin .col-sm-5, 
.content-nomargin .col-sm-6, 
.content-nomargin .col-sm-7, 
.content-nomargin .col-sm-8, 
.content-nomargin .col-sm-9, 
.content-nomargin .col-sm-10, 
.content-nomargin .col-sm-11, 
.content-nomargin .col-sm-12, 
.content-nomargin .col-sm, 
.content-nomargin .col-sm-auto, 
.content-nomargin .col-md-1, 
.content-nomargin .col-md-2, 
.content-nomargin .col-md-3, 
.content-nomargin .col-md-4, 
.content-nomargin .col-md-5, 
.content-nomargin .col-md-6, 
.content-nomargin .col-md-7, 
.content-nomargin .col-md-8, 
.content-nomargin .col-md-9, 
.content-nomargin .col-md-10, 
.content-nomargin .col-md-11, 
.content-nomargin .col-md-12, 
.content-nomargin .col-md, 
.content-nomargin .col-md-auto, 
.content-nomargin .col-lg-1, 
.content-nomargin .col-lg-2, 
.content-nomargin .col-lg-3, 
.content-nomargin .col-lg-4, 
.content-nomargin .col-lg-5, 
.content-nomargin .col-lg-6, 
.content-nomargin .col-lg-7, 
.content-nomargin .col-lg-8, 
.content-nomargin .col-lg-9, 
.content-nomargin .col-lg-10, 
.content-nomargin .col-lg-11, 
.content-nomargin .col-lg-12, 
.content-nomargin .col-lg, 
.content-nomargin .col-lg-auto, 
.content-nomargin .col-xl-1, 
.content-nomargin .col-xl-2, 
.content-nomargin .col-xl-3, 
.content-nomargin .col-xl-4, 
.content-nomargin .col-xl-5, 
.content-nomargin .col-xl-6, 
.content-nomargin .col-xl-7, 
.content-nomargin .col-xl-8, 
.content-nomargin .col-xl-9, 
.content-nomargin .col-xl-10, 
.content-nomargin .col-xl-11, 
.content-nomargin .col-xl-12, 
.content-nomargin .col-xl, 
.content-nomargin .col-xl-auto{

}

/* ===================================
Sidebar
==================================== */
.sidebar{
    position: absolute;
    width: 200px;	
	background: rgba(0, 0, 0, 0.10);
    height: 100%;
    font-family: monospace;
}

.sidebar .navbar-collapse{
	position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    left: 0;
    z-index: 20;
}

.sidebar .navbar-nav {
	width: 100% !important;
}

.sidebar .navbar-nav .nav-item {
	font-weight:bold;
 	padding-top: 5px;
 	padding-bottom: 5px;
 	border-bottom: 1px #ffffff solid;
}

.sidebar .navbar-nav .nav-item:hover {
	background-color: #1c1c1c21;
}

.sidebar .navbar-nav {
    flex-direction: column;
}
.sidebar .navbar-nav .dropdown-menu {
	position: unset;
}
.sidebar .dropdown-toggle::after{
 }
 
.sidebar .dropdown-menu {
    min-width: 180px;
    list-style: none;
    background: unset;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
}

.sidebar .dropdown-menu .dropdown-item {
    float: none;
    font-size: 13px;
    margin-left: 20px;
    margin-right: 0;
    color: #999999;
    text-decoration: none;
    text-shadow: none;
    border-right: none;
    border-left: none;
}

.sidebar .dropdown-menu .dropdown-item:hover,
.sidebar .dropdown-menu .dropdown-item:focus {
	color: #ddd;
}

.sidebar .navbar .navbar-nav li a {
	color: #ddd;
	text-transform: none;
}

.sidebar .nav-item a:hover {
	color: #000000;
}

.sidebar .navbar-expand .navbar-nav .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.sidebar .nav-link i:first-child{
	padding-right: 15px;
}