@import url('font-awesome.css');
/* === custom icon === */

@import url('custom-fonts.css');

/*===================================
General
===================================*/
body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6em;
  color: #656565;
}

a:active {
  outline: 0;
}

.clear {
  clear: both;
}

.row, .row-fluid {
  padding-bottom: 30px;
}

.row .row, .row-fluid .row-fluid {
  padding-bottom: 30px;
}

/* ===================================
Navbar
==================================== */
nav a{
	color: #656565;
}

nav a:hover{
	color: #a5a5a5;
}

/* ===================================
Inner - Section: page headline
==================================== */

.inner-headline {
  background: #252525;
  position: relative;
  margin: 0;
  padding: 0;
  color: #fefefe;
}

.inner-headline .inner-heading h2 {
  color: #fff;
  margin: 20px 0 0 0;
}

/* --- breadcrumbs --- */

.breadcrumb {
  float:left;
  padding:10px 0 10px 0;
  margin:0;
  list-style: none;
  background: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.breadcrumb > li {
  display: inline-block;
  *display: inline;
  text-shadow: none;
  font-size:12px;
  *zoom: 1;
  margin:0;
}

.breadcrumb > .active {
  color: #797979;
}

.inner-headline ul.breadcrumb {
  margin: 30px 0 0;
  float: right;
}

.inner-headline ul.breadcrumb li {
  margin-bottom: 0;
  padding-bottom: 0;
}

.inner-headline ul.breadcrumb li {
  font-size: 13px;
  color: #ddd;
}

.inner-headline ul.breadcrumb li i {
  color: #dedede;
}

.inner-headline ul.breadcrumb li a {
  color: #fff;
}

ul.breadcrumb li a:hover {
  text-decoration: none;
}

.inner-headline ul.breadcrumb li [class^="fa"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

/* ===================================
Sidebar
==================================== */
section[class^="sidebar"] {
	display:flex;
    position: relative;
    margin: 0;
    padding: 0;
}

section[class^="sidebar"] .content{
	padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
	transition: padding-left 0.5s ease-in;
}

/*
section[class^="sidebar"] .content:not(.show) {
    padding-left: 10px;
}

section[class^="sidebar"] .content .show {
    padding-left: 220px;
}
*/

section[class^="sidebar"] .row:last-child{
    padding-right: 0px !important;
    margin-right: 0px !important;
}

section[class^="sidebar"] nav{
	background-color: transparent;
	margin-left: 0px;
    min-width: 250px;
    max-width: 250px;
    z-index: 20;
	transition: margin-left 0.5s ease-in;
}

section[class^="sidebar"] nav:not(.show) {
    margin-left: -250px;
}

section[class^="sidebar"] .navbar-collapse{
	position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    left: 0;
    z-index: 20;
 	-webkit-transition: unset;
  	transition: unset;
  	padding: 0px 10px;
}

section[class^="sidebar"] .navbar-nav {
	width: 100% !important;
}

section[class^="sidebar"] nav a{
	color: #656565;
}

section[class^="sidebar"] nav a:hover{
	color: #a5a5a5;
}

section[class^="sidebar"] .navbar-nav .nav-item {
 	padding-top: 5px;
 	padding-bottom: 5px;
 	border-bottom: 1px rgba(0, 0, 0, 0.10) solid;
}

section[class^="sidebar"] .navbar-nav {
    flex-direction: column;
}
section[class^="sidebar"] .navbar-nav .dropdown-menu {
	position: unset;
}
section[class^="sidebar"] .dropdown-toggle::after{
}
 
section[class^="sidebar"] .dropdown-menu {
    min-width: 180px;
    list-style: none;
    background: unset;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
}

section[class^="sidebar"] .dropdown-item {
    float: none;
    font-size: 13px;
    margin-left: 20px;
    margin-right: 0;
    color: #999999;
    text-decoration: none;
    text-shadow: none;
    border-right: none;
    border-left: none;
}

section[class^="sidebar"] .dropdown-menu .dropdown-item:hover,
section[class^="sidebar"] .dropdown-menu .dropdown-item:focus {
	color: #ddd;
	background-color: transparent;
}

section[class^="sidebar"] .navbar-expand .navbar-nav .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

section[class^="sidebar"] .nav-link i:first-child{
	padding-right: 15px;
}
/* ===================================
footer
==================================== */

footer {
    background: #111;
    padding: 50px 0 0 0;
    color: #bbb;
	font-family: 'Open Sans', sans-serif;    
}

footer .widget {
    position: relative;
}

footer .widget h5 {
    font-weight: 300;
    margin-bottom: 20px;
	color: #eee;
	font-size: 24px;
}

footer .widget strong {
    font-weight: bold;
}

footer .widget address {
    line-height: 1.6em;
}

footer .widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer .widget ul li {
    margin: 0;
    padding: 2px 0 2px 0;
    list-style: none;
}

footer .widget ul li a {
    color: #919191;
}

.sub-footer {
    background: #0a0a0a;
    text-shadow: none;
    color: #5d5d5d;
    padding: 0;
    padding-top: 30px;
    margin: 20px 0 0 0;
}


.sub-footer .social-network a {
    color: #444;
}

.sub-footer .social-network a:hover {
	color: #ff4400;
}

.sub-footer .social-network ul{
    float: right;
}

.sub-footer .social-network ul {
    list-style: none;
    margin: 0;
}

.sub-footer .social-network ul li {
    display: inline;
}

