h1 {
    font-size: 60px;
    margin-bottom: 24px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: #353535;
    font-weight: 300;
    line-height: 1.5em;
    margin-top: 0;
}

li {
    line-height: 1.6em;
}

.navbar nav {
    border-right: none;
    border-left: none;
}

.navbar .navbar-nav li {
    border: none;
    margin: 0;
}

.navbar .navbar-nav > li > a {
    float: none;
    font-size: 13px;
    padding: 10px 0 10px;
    margin-left: 20px;
    margin-right: 0;
    color: #999999;
    text-decoration: none;
    text-shadow: none;
    border-right: none;
    border-left: none;
}

.dropdown-menu {
    min-width: 180px;
    list-style: none;
    background: #222;
	border-radius: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
    margin-bottom: 0;
    border: 0;	     
}

.dropdown-menu .dropdown-item {
    color: #ddd;
    font-size: 12px;
    padding: 10px 15px 10px 15px;
    margin: 0;
    text-shadow: none;
    border-bottom: 1px solid #303030;
}

.breadcrumb {
  float:left;
  padding:10px 0 10px 0;
  margin:0;
  list-style: none;
  background: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.breadcrumb > li {
  display: inline-block;
  text-shadow: none;
  font-size:12px;
  margin:0;
}

.breadcrumb > li {
	padding-right: 10px;
}

.breadcrumb > li i {
	padding-left: 10px;
}

.breadcrumb > .active {
  color: #797979;
}

@media (max-width: 767px) {
  #inner-headline .breadcrumb {
    float: left;
    clear: both;
    width: 100%;
  }
  .breadcrumb>li {
    font-size: 13px;
  }
}

.widget h4, .widget h5 {
    font-weight: 300;
    margin-bottom: 20px;
}

#Sidebar

.sidebar{
}

.sidebar .navbar-nav{
    flex-direction: column;
}
.sidebar .navbar-nav .dropdown-menu {
	position: unset;
}

.sidebar .dropdown-menu {
    min-width: 180px;
    list-style: none;
    background: unset;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
}

.sidebar .dropdown-menu .dropdown-item {
    float: none;
    font-size: 13px;
    margin-left: 20px;
    margin-right: 0;
    color: #999999;
    text-decoration: none;
    text-shadow: none;
    border-right: none;
    border-left: none;
}

.sidebar .dropdown-menu .dropdown-item:hover,
.sidebar .dropdown-menu .dropdown-item:focus {
  color: #cf1a07;
}

.sidebar .navbar .navbar-nav li a {
    text-transform: none;
}

.sidebar .navbar .navbar-nav li .dropdown-menu a:hover {
    background-color: transparent;
}

.sidebar .navbar-expand .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}