/* @import url('font-awesome.css'); */
/* === custom icon === */

/* @import url('custom-fonts.css'); */

/*===================================
General
===================================*/
body {
  font-family: 'Open Sans', Arial, sans-serif;	
  font-size: 13px;
  line-height: 1.6em;
  color: #545454;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

a:active {
  outline: 0;
}

a {
  color: #F03C02;
}

.clear {
  clear: both;
}

.row, .row-fluid {
  padding-bottom: 30px;
}

.row .row, .row-fluid .row-fluid {
  padding-bottom: 30px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

h4.heading {
    font-weight: 300;
}

.heading {
    position: relative;
    margin-bottom: 30px;
}

img.float-left {
    margin: 0 15px 15px 0;
}

/* ===================================
Form Validation
==================================== */

.form-group.has-success label,
.has-feedback.has-success .form-control-feedback {
  color: #00a65a;
}

.form-group.has-success .form-control,
.form-group.has-success .input-group-addon {
  border-color: #00a65a;
  box-shadow: none;
}

.form-group.has-success .help-block {
  color: #00a65a;
}

.form-group.has-warning label,
.has-feedback.has-warning .form-control-feedback {
  color: #f39c12;
}

.form-group.has-warning .form-control,
.form-group.has-warning .input-group-addon {
  border-color: #f39c12;
  box-shadow: none;
}

.form-group.has-warning .help-block {
  color: #f39c12;
}

.form-group.has-error label,
.has-feedback.has-error .form-control-feedback {
  color: #dd4b39;
}

.form-group.has-error .form-control,
.form-group.has-error .input-group-addon {
  border-color: #dd4b39;
  box-shadow: none;
}

.form-group.has-error .help-block {
  color: #dd4b39;
}

.has-feedback .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

/* ===================================
Testimonial
==================================== */

.testimonial {
  background: #fff;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.testimonial .author img {
  float: left;
  margin: 0 10px 0;
  max-height: 68px;
}

.testimonial p.text {
  color: #b2b2b2;
  font-style: italic;
  margin-bottom: 30px;
}

.testimonial .author p.name {
  font-weight: bold;
}  

/* ===================================
Navbar
==================================== */

.navbar-light .dropdown-menu {
	border: 0px;
	font-size: unset;
	padding: 0 0;
}

.navbar-light .dropdown-item {
	padding: 0.5rem 0.5rem;	
} 

.navbar-light .nav-item:hover{
	color: #ffffff;
}

.navbar-light .dropdown-item:hover{
	color: rgba(0, 0, 0, 0.9);
}

@media (min-width: 1200px){
	.navbar-light .navbar{
		padding: 0 0;
	}
	
	.navbar-light .navbar-nav .nav-link{
		margin-left: 20px;
		text-transform: uppercase;
	}
	
	.navbar-light .nav-item a{
		padding: 10px 15px 10px 15px;
		color: #656565;
		text-transform: uppercase;
	}
	
	.navbar-light .nav-item a:hover{
		color: #ffffff;
	}
	
	.navbar-light .dropdown-menu {
		padding: 0px 0px;
		background: #222;
		color: #ddd;
		border-radius: 0;
		margin: 0 0;
		border: 0px;
		font-size: inherit;
	}
	
	.navbar-light .dropdown-item:hover{
		background: #F03C02;
	    color: #919191;
	}
}

/* footer navbar */

.navbar-footer .container {
	flex-wrap:wrap;
	display:unset;
}

.navbar-footer .navbar-brand {
	flex-direction: unset;
	display: block;
	padding: 0px 0px;
}

.navbar-footer .navbar-nav {
	flex-direction: unset;
	display: unset;
}

.navbar-footer .nav-link {
    padding: unset !important;
}

.navbar-footer .nav-link::after {
    content: unset;
}

.navbar-footer .dropdown-menu {
	display: block;
    position: unset !important;
    background-color: unset;
    font-size: unset;
    padding: unset;
    margin: unset;
    border: unset;
}

.navbar-footer .dropdown-item{
    /*padding: 0 1.5rem;*/
    padding: 2px 1.5rem 2px 1.5rem;
}

.navbar-footer .dropdown-item:active{
    background-color: unset;	
}

.navbar-footer .dropdown-item:hover, .dropdown-item:focus, .dropdown-item:visited{
    background-color: inherit;
    color: #919191;
}

/* ===================================
Inner - Section: page headline
==================================== */

.inner-headline {
  background: #252525;
  position: relative;
  margin: 0;
  padding: 0;
  color: #fefefe;
}

.inner-headline .inner-heading h2 {
  color: #fff;
  margin: 20px 0 0 0;
}

/* --- breadcrumbs --- */

.breadcrumb {
  float:left;
  padding:10px 0 10px 0;
  margin:0;
  list-style: none;
  background: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.breadcrumb > li {
  display: inline-block;
  *display: inline;
  text-shadow: none;
  font-size:12px;
  *zoom: 1;
  margin:0;
}

.breadcrumb > .active {
  color: #797979;
}

.inner-headline ul.breadcrumb {
  margin: 30px 0 0;
  float: right;
}

.inner-headline ul.breadcrumb li {
  margin-bottom: 0;
  padding-bottom: 0;
}

.inner-headline ul.breadcrumb li {
  font-size: 13px;
  color: #ddd;
}

.inner-headline ul.breadcrumb li i {
  color: #dedede;
}

.inner-headline ul.breadcrumb li a {
  color: #fff;
}

ul.breadcrumb li a:hover {
  text-decoration: none;
}

.inner-headline ul.breadcrumb li [class^="fa"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

/* ===================================
fontawesome
==================================== */

.fa:not([class*="fa-inverse"]) {
	color: #F03C02;
}

/* ===================================
card
==================================== */

.card {
  background:none;
  border:none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
		  margin-bottom:5px;
}

.card-header{
  padding: 0px;
  font-size:13px;
  color:#333333;
  text-shadow: none;
  background-color: #fbfbfb;
  *background-color: #fbfbfb;
  background-image: none;
  background-repeat: repeat-x;
  border: 1px solid #e9e9e9;
  *border: 0;
  border-color: none;
}

.card-header a:not([class*="collapsed"]) .plus-button{
	display: none;
}

.card-header a:not([class*="collapsed"]) .minus-button{
	display: inline-block;
}

.card-header a .plus-button{
	display: inline-block;
}

.card-header a .minus-button{
	display: none;
}

.card-header a{
  font-size: 13px;
  text-shadow: none;	
  color:#333333;
  outline:0;
}

.card-header a{
  cursor: pointer;  
}

.card-body{
	margin-top:1px;
  background:#fff;
  border: 1px solid #e9e9e9;
  border-bottom:1px solid #e9e9e9;
}

/* ===================================
pagination
==================================== */

.pagination {
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
	text-align: center;
  	display: inline-block;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination span {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #F03C02;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #919191;
  border-radius: 5px;
}

.pagination a.deactive {
    pointer-events: none;
    opacity: 0.4;
}
					
/* ===================================
lists
==================================== */
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

li {
  line-height: 1.6em;
}

ul.list-unstyled,
ol.list-unstyled {
  margin-left: 0;
  list-style: none;
}

ul.list-inline,
ol.list-inline {
  margin-left: 0;
  list-style: none;
}

ul.list-inline > li,
ol.list-inline > li {
  display: inline-block;
  *display: inline;
  padding-right: 5px;
  padding-left: 5px;
  *zoom: 1;
}

dl {
  margin-bottom: 20px;
}

dt,
dd {
  line-height: 1.6em;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 20px;
}

.dl-horizontal {
  *zoom: 1;
}

.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  line-height: 0;
  content: "";
}

.dl-horizontal:after {
  clear: both;
}

.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dl-horizontal dd {
  margin-left: inherit;
}

/* ===================================
Sidebar
==================================== */

/* Sidebar base*/

.sidebar-group {
	-webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out,margin .3s ease-in-out;
    position: relative;
    border: 1px solid rgb(0,0,0,0);
}

.sidebar-group .sidebar {
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out,margin .3s ease-in-out;
	position: absolute;
	width: 300px;
	height: 100%;
	z-index: 600;
	overflow-y: auto;	
	overflow-x: hidden;
}

.sidebar-group:not(.show) .sidebar{
    margin-left: -300px;
}

.sidebar-group .sidebar-content {
	-webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out,margin .3s ease-in-out;
}

.sidebar-group.collapse {
    display: block;
}

.sidebar-group.collapsing {
    height: unset;
}

.sidebar-group .sidebar .navbar-nav {
	width: 100% !important;
}

.sidebar-group .sidebar .navbar-nav {
    flex-direction: column;
}

.sidebar-group .sidebar .navbar-nav .dropdown-menu {
	transition: height 0.3s;
}

.sidebar-group .sidebar .dropdown-toggle::after{
	text-align: right;
    float:right;
}

.sidebar-group .sidebar .dropdown-menu {
	position: static;
	background: transparent;
    border: 0;
    padding: 0 0;
    margin-top: 0;
    margin-bottom: 0;
}

.sidebar-group .sidebar .nav-link{
    display: block;
    padding: .5rem 1rem;
}

.sidebar-group .sidebar .nav-link p {
	display: inline-block;
	margin-top: 0;
    margin-bottom: 0;	
}

.sidebar-group .sidebar .nav-link i:first-child{
	padding-right: 15px;
}

.sidebar-group .sidebar .dropdown-item {
    padding-right: 1rem;
    padding-left: 1rem;
}

.sidebar-group .sidebar .dropdown-item i:first-child{
	padding-right: 15px;
}

.sidebar-group .sidebar ::-webkit-scrollbar {
	width: 0px; 
}

.sidebar-group .sidebar ::-webkit-scrollbar {
  width: 5px;
}

.sidebar-group .sidebar:hover ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
.sidebar-group .sidebar:hover ::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

@media screen and (min-width: 1200px){
	
	.sidebar-group .sidebar-content{
	    margin-left: 300px;
	}
	
	.sidebar-group:not(.show) .sidebar-content{
	    margin-left: 0px;
	}
		
}

/* front sidebar */

.sidebar-group .sidebar  {
	background-color: #ffffff;
} 

.sidebar-group nav  {
	padding: 0px 0px;
} 

.sidebar-group nav .dropdown-item:hover {
	background-color: unset;
} 

.sidebar-group nav .nav-item a {
	color: #656565;
}

.sidebar-group nav .nav-link::after {
    content: unset;
}

.sidebar-group nav .dropdown-menu {
	display: block;
    font-size: unset;
}

/*
.sidebar-group nav .dropdown-menu {
	border: 0px;
	font-size: unset;
	padding: 0 0;
}

.sidebar-group nav .dropdown-item {
	padding: 0rem 0rem;	
} 

.sidebar-group nav .dropdown-item:hover {
	background-color: unset;
} 

.sidebar-group nav .nav-item a {
	color: #656565;
}

.sidebar-group nav .nav-item > a {
	font-weight: bold;
}

.sidebar-group nav .nav-link a {
	color: #656565;
}

@media screen and (max-width: 1200px){
	
	.sidebar {
	  	width: 100%;
	}
	
	.sidebar-group {
	    margin-left: 0px;
	}
	
	.sidebar-group nav .dropdown-item {
	    display: block;
	    padding: 0.5rem 0rem;
    } 
	
}

@media screen and (min-width: 1200px){

	.sidebar-group .sidebar {
		padding-top: 1rem;
		padding-bottom: 1rem;
		display: block;
	  	width: 300px;
		background-color: #ffff;
	    position: absolute;
	    overflow-y: hidden;
	    z-index: 1038;
	  	margin-left: -300px;
		overflow-y: auto;	
		overflow-x: hidden;
		transition: width 0.2s ease-in;
	}

	.sidebar-group:not(.show) .sidebar{
		width: 0px;
	}

	.content {
		padding-top: 1rem;
	}

	.sidebar-group {
	    margin-left: 300px;
	}
	
	.sidebar-group:not(.show){
		margin-left: 0px;
	}

	
	.sidebar-group nav {
		padding: 0px 0px;
	}
	
	.sidebar-group nav .container {
		flex-wrap:wrap;
		display:unset;
	}
	
	.sidebar-group nav .navbar-brand {
		flex-direction: unset;
		display: block;
		padding: 0px 0px;
	}
	
	.sidebar-group nav .navbar-nav {
		flex-direction: unset;
		display: unset;
	}
	
	.sidebar-group nav .nav-link {
	    padding: unset !important;
	}
	
	.sidebar-group nav .nav-link::after {
	    content: unset;
	}
	
	.sidebar-group nav .dropdown-menu{
		display: block;
	    position: unset !important;
	    background-color: unset;
	    font-size: unset;
	    padding: unset;
	    margin: unset;
	    border: unset;
	}
	
	.sidebar-group nav .dropdown-item{
	    padding: 0 1.5rem;
	}
	
	.sidebar-group nav .dropdown-item:active{
	    background-color: unset;	
	}
	
	.sidebar-group nav .dropdown-item:hover, .dropdown-item:focus, .dropdown-item:visited{
	    background-color: inherit;
	    color: #000000;
	}
	
}
*/

.content {
	padding-top: 1rem;
}


/* ===============================
Line
================================ */

.solidline {
  border-top: 1px solid #e6e6e6;
}


/* ===============================
Blockquote
================================ */

blockquote {
  font-weight: 400;
  font-style: italic;
  padding-left: 0;
  color: #a2a2a2;
  line-height: 1.6em;
  border: none;
}

blockquote cite {
  display: block;
  font-size: 12px;
  color: #666;
  margin-top: 10px;
}

blockquote cite:before {
  content: "\2014 \0020";
}

blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
  color: #555;
}

/* ===============================
Tabs
================================ */

.nav-tabs {
  background: #fcfcfc;
  position: relative;
  margin: 0;
  padding: 0;
}

.tab-content > .tab-pane {
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    padding: 20px;
    overflow: hidden;
}

/* ===============================
Pullquote
================================ */

.pullquote-left {
	border-left:5px solid #F03C02;
}

.pullquote-right {
	border-right:5px solid #F03C02;
}

.pullquote-left {
  display: block;
  font-size: 14px;
  line-height: 1.6em;
  padding-left: 20px;
}

.pullquote-right {
  display: block;
  font-size: 14px;
  line-height: 1.6em;
  padding-right: 20px;
}

/* ===================================
footer
==================================== */

footer {
    background: #111;
    padding: 50px 0 0 0;
    color: #bbb;
	font-family: 'Open Sans', sans-serif;    
}

footer .widget {
    position: relative;
}

footer .widget h5 {
    font-weight: 300;
    margin-bottom: 20px;
	color: #eee;
	font-size: 24px;
}

footer .widget strong {
    font-weight: bold;
}

footer .widget address {
    line-height: 1.6em;
}

footer .widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer .widget ul li {
    margin: 0;
    padding: 2px 0 2px 0;
    list-style: none;
}

footer .widget ul li a {
    color: #919191;
}

.sub-footer {
    background: #0a0a0a;
    text-shadow: none;
    color: #5d5d5d;
    padding: 0;
    padding-top: 30px;
    margin: 20px 0 0 0;
}

.sub-footer .social-network a {
    color: #444;
}

.sub-footer .social-network a:hover {
	color: #ff4400;
}

.sub-footer .social-network ul{
    float: right;
}

.sub-footer .social-network ul {
    list-style: none;
    margin: 0;
}

.sub-footer .social-network ul li {
    display: inline;
}

/* fontawesome icons */

footer .fa:not([class*="fa-inverse"]) {
	color: inherit;
}
