/*
.box img {
}

.box button {
    background-color: #ff4400;	
    border-color: #ff4400;
}

.box button:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #ff4400;
    border-color: #ff4400;
}

.box button:hover {
    color: #fff;
    background-color: #e73e00;
    border-color: #e73e00;
}

.box h6 {
    font-family: 'Open Sans', sans-serif;
    color: #353535;
    font-weight: 300;
    line-height: 1.5em;
    margin-top: 0;
	font-size: 22px;
    margin-bottom: 20px;    
}
*/

.box .box-success {
    border-top-color: #00a65a;
}

.box {
	position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
	box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;    
	border-top: 3px solid #d2d6de;    
}

.box .box-header {
	background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.box .box-header h3 {
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
}

.box .box-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.box .box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}